Flask
requests
google-cloud-storage
python-dotenv
pytz
Babel
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dateutil
gunicorn
git+https://github.com/louisguichard/cursor-feedback.git
