{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block header %}Event{% endblock %}

{% block form_content %}
    <div id="main-buttons" class="button-grid">
        <button type="button" class="custom-button" data-event="Coffee">☕ Coffee</button>
        <button type="button" class="custom-button" data-event="Friends">👫 Friends</button>
        <button type="button" class="custom-button" data-event="Family">👪 Family</button>
        <button type="button" class="custom-button" data-event="Sport">🏃 Sport</button>
        <button type="button" class="custom-button" data-event="Meditation">🧘 Meditation</button>
        <button type="button" class="custom-button" data-event="Reading">📖 Reading</button>
        <button type="button" class="custom-button" data-event="Fast Food">🍔 Fast Food</button>
    </div>
    <div id="sub-buttons" class="button-grid" style="display: none;"></div>
    <button type="button" id="back-button" class="custom-button" style="display: none;">🔙 Back</button>
    <input type="hidden" name="event" id="selected-event" value="">
{% endblock %}