{% extends "base.html" %}

{% block title %}Event{% endblock %}

{% block header %}Event{% endblock %}

{% block form_content %}
    <div class="button-grid">
        <button type="submit" name="event" value="Coffee" class="custom-button">☕ Coffee</button>
        <button type="submit" name="event" value="Friends" class="custom-button">👫 Friends</button>
        <button type="submit" name="event" value="Friends" class="custom-button">👪 Family</button>
        <button type="submit" name="event" value="Sport" class="custom-button">🏃 Sport</button>
        <button type="submit" name="event" value="Meditation" class="custom-button">🧘 Meditation</button>
        <button type="submit" name="event" value="Fast Food" class="custom-button">📖 Reading</button>
        <button type="submit" name="event" value="Fast Food" class="custom-button">🍔 Fast Food</button>
    </div>
{% endblock %}