{% extends "base.html" %}

{% block title %}Health{% endblock %}

{% block header %}Health{% endblock %}

{% block additional_styles %}
    .custom-button {
        background-color: #DC143C;
    }
    .custom-button:hover {
        background-color: #B22222;
    }
{% endblock %}

{% block form_content %}
    <div id="main-buttons" class="button-grid">
        {% for condition, sub_conditions in events.items() %}
            <button type="button" class="custom-button" data-event="{{ condition }}">{{ condition }}</button>
        {% endfor %}
    </div>
    <div id="sub-buttons" class="button-grid" style="display: none;"></div>
    <button type="button" id="validate-button" class="custom-button" style="display: none;">Validate</button>
    <input type="hidden" name="condition" id="selected-event" value="">
{% endblock %}
